:root {
    --product-price: red;

}

.dark {
    --product-title-heading-section: white;
    --product-price: white;
}

.thumbnail-size {
    inline-size: 500px;
    block-size: 500px;
    object-fit: cover;
}