:root {
    --w-seller: calc(1250px - 300px);
    --h-seller: calc(100vh - 60px);
}

.layout-container {
    overflow: hidden;
    inline-size: 100%;
    block-size: 100vh;
    padding: 0;
    margin: 0;
}