:root {}

.dark {}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.seller-content-container {
    block-size: calc(100vh - 60px);
}